Success 成功 0
AddTaskFail   添加任务失败 1000
TaskNotExist    任务不存在
TaskExist      任务已经存在
InvalidTaskInfo  获取作业信息失败
CatalogPermissionRefuse   目录拒绝访问
ItemPermissionRefuse      信息项拒绝访问
QueryCatalogInfoFail  查询目录信息失败
InvalidResultInfo      获取作业运行信息失败
UnknownResultType      未知的结果类型
QueryTaskFail         查询任务信息失败
AddModelRequestFail       增加任务请求失败
QueryModelRequestFail       查询任务请求失败
QueryHiveInfoFail           查询Hive信息失败
UpdateAuditFail             修改审核信息失败
UpdateTaskFail              更新任务信息失败
SubmitTaskFail              提交任务失败
ModelNotExist      模型不存在
ModelExist         模型已存在
QueryModelFail     查询模型失败
SaveModelFail      保存模型失败
UpdateModelFail    更新模型失败
InvalidToken       无效token
ModelRunning       模型正在执行
CreateDirFail      创建目录失败
ModelNameExist     模型名称已存在
SaveModelFileFail  保存模型文件失败
UploadFileFail     上传模型文件失败
RunTaskFail        运行模型任务失败
ResultAuditFail    结果审核失败
UserNotExist       用户不存在
DeleteTaskFail     删除任务失败
DeleteModelFail    删除模型失败
QueryDataSourceInfoFail  查询数据源信息失败
AddDataSourceInfoFail    增加数据源信息失败
DeleteDataSourceInfoFail 删除数据源信息失败
QueryTableInfoFail  查询数据表信息失败
AddTableInfoFail    增加数据表信息失败
DeleteTableInfoFail 删除数据表信息失败
UpdateTableInfoFail   更新数据表信息失败
TableNotExist         数据表不存在
TableExist      数据表已存在
QueryTableStrategyFail 查询表策略失败
DeleteTableStrategyFail 删除表策略失败
AddTableStrategyFail 增加表策略失败
TableStrategyExist     表策略已存在
TableStrategyNotExist     表策略不存在
QueryAccreditTableFail    查询授权表信息失败
UpdateAccreditTableFail   更新授权表信息失败
AddAccreditTableFail      增加授权表信息失败
AccreditTableExist        授权表信息已存在
AccreditTableNotExist     授权表信息不存在
QueryApplyTableFail       查询数据表申请信息失败
AddApplyTableFail         增加数据表申请信息失败
UpdateApplyTableFail      更新数据表申请信息失败
ApplyTableFail            申请数据表信息失败
ApplyTableExist           数据表申请信息已存在
ApplyTableNotExist        数据表申请信息不存在
QueryApplyResultFail       查询结果申请信息失败
AddApplyResultFail        增加结果申请信息失败
UpdateApplyResultFail     更新结果申请信息失败
ApplyResultFail           申请结果信息失败
ApplyResultExist          结果申请信息已存在
ApplyResultNotExist       结果申请信息不存在
InvalidFieldInfo          无效的表字段信息
QueryUserInfoFail         查询用户信息失败
UpdateUserInfoFail        更新用户信息失败
AddUserInfoFail           增加用户信息失败
DeleteUserInfoFail        删除用户信息失败
UserExist                 用户已存在
SyncDataFileFail          同步数据文件失败 
GetFileListFail         获取文件列表失败
RunCmdFail               执行系统命令失败
ReadFileFail              读取文件失败
WriteFileFail             写入文件失败
OpenFileFail              打开文件失败
FileExist                 文件已存在
FileNotExist              文件不存在
AddOwnTableFail           增加自有表信息失败
UpdateOwnTableFail        更新自有表信息失败
QueryOwnTableFail         查询自有表信息失败
DeleteOwnTableFail        删除自有表信息失败
AddOwnFileFail            用户上传自有文件失败
QueryOwnFileFail          查询用户上传文件失败
DeleteOwnfileFail         删除用户上传文件失败
DataConvertFail           数据转换失败
AddSandboxApplyFail       保存沙箱申请失败
UpdateSandboxApplyFail    更新沙箱申请失败
QuerySandboxApplyFail     查询沙箱申请失败
SandboxApplyExist         沙箱申请已存在
SandboxApplyNotExist      沙箱申请不已存在
MissingParameters         缺少参数
AddModelLogFail              增加模型运行日志失败
QueryModelLogFail            查询模型运行日志失败
